.editForm{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}

.editForm label  {
    display: flex;
    font-weight: bold;
    flex-direction: row;
}

.editForm input {
    text-align: left;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.editFormInput{
    display: flex;
    align-items: center;
    gap: 10px;
}

.editFormbutton{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap : 10px
}

.editFormbutton button {
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
    font-weight: bold;
    padding: 10px 40px;
    cursor: pointer;
}